/* General */
* {
  font-family: 'Roboto';
}

.fontvermelha{
  color: red;
}

.minhadiv {
  border: 10px black solid;
    width: 80%;
    background-color: blue;
    padding-left: 10px;
    margin-left: 20px;
    
}

form{
  margin-top: 10px;
  padding-top: 5px;
}

