@charset "UTF8";



footer {
    text-align: center;
}

div{
    background-color: hsl(0, 0%, 4%);
    padding: 5px;
}

a {
    margin: 3px;
   
}

img {
    width: 30px;
}

.rodape {
    color: rgba(72, 44, 175, 0.808);
    background-color: rgb(8, 8, 8);
    bo
}

.rodape:hover {
    color: rgba(176, 174, 184, 0.808);

}



